<footer class="footer" style="background-color: #0b1011">
    <div class="container text-center">
        <div class="col-md-6 download-area ml-auto mr-auto">
            <nav class="footer-nav">
                <ul>
                    <li class="nav-item">
                        <a href="/terms"><h5><b>Terms & Conditions</b></h5></a>
                    </li>
                    <li class="nav-item">
                        <a href="/privacy"><h5><b>Privacy Policy</b></h5></a>
                    </li>
                    <li>
                        <a href="mailto://info.flexinc@gmail.com"><h5><b>Contact us</b></h5></a>
                    </li>
                </ul>        
                <ul>
                    <li class="nav-item">
                        <a href="https://play.google.com"><input type="image" name="imgbtn" src="assets/img/googleplay.jpg"  alt="Tool Tip"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://apps.apple.com"><input type="image" name="imgbtn" src="assets/img/appstore.jpg"  alt="Tool Tip"></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h6>© Copyright Flex Inc 2019.</h6>
                    </li>
                </ul>  
            </nav>
        </div>
    </div>
</footer>
